<library path="src">
  <class name="VisualServoingTeleop" type="visual_servoing_teleop.visual_servoing_teleop_plugin.VisualServoingTeleopPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
    Display for teleoperation of WAM.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>WAM Viewer</label>
      <icon type="theme">video-display</icon>
      <statustip>WAM Viewer</statustip>
    </qtgui>
  </class>
</library>
